<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="bmVO" type="com.vo.JhBoardMVO" />
		<typeAlias alias="bsVO" type="com.vo.JhBoardSVO" />
	</typeAliases>
	<mappers>
		<mapper resource="com/mybatis/mapper/jhboard.xml" />
	</mappers>
</configuration>